body {
    background-color: #E9EBF1;
    padding: 0px;
}

.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;  
    border-radius: 0px;
    border-bottom: 2px solid gray;
}

.app {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    top: 54px;
    padding: 0px;
}
    
.sidebar { 
    grid-area: 1 / 1 / 2 / 2; 
}

.dashboard { 
    grid-area: 1 / 2 / 2 / 3;
}

.app-box {
    padding: 10px 30px;
    border-radius: 20px;
}


.header {
    display: flex;
}
